<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0FmkCKj1P6bevR_xehhzRiXOA1ISIC1o</string>
	<key>GCM_SENDER_ID</key>
	<string>165347808730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>parkAll.parkallios</string>
	<key>PROJECT_ID</key>
	<string>proyecto-parkall</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-parkall.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165347808730:ios:6092151f3d9706876a9ce3</string>
	<key>NSLocationWhenInUseUsageDescription</key>
<string>Esta aplicación necesita acceder a tu ubicación para mostrar tu posición en el mapa.</string>
</dict>
</plist>